{{ define "main" }}
<div class="container">
    <main class="main-content">
        <link rel="stylesheet" href="{{ "css/list.css" | relURL }}">
        <div class="list-header">
            <h1>{{ if .IsHome }}最新作品{{ else }}{{ .Title }}{{ end }}</h1>
        </div>

        <div class="list">
            {{ range .Paginator.Pages }}
            <div class="list-card">
                {{ if .Params.image }}
                {{ $image := .Resources.GetMatch .Params.image }}
                {{ $imageSrc := "" }}
                {{ if $image }}
                    {{ $imageSrc = $image.RelPermalink }}
                {{ else }}
                    {{ $imageSrc = .Params.image | relURL }}
                {{ end }}
                <div class="list-image-bg">
                    <a href="{{ .Permalink }}">
                        <img src="{{ $imageSrc }}" loading="lazy" alt="Featured image of post {{ .Title }}">
                    </a>
                </div>
                {{ end }}
                {{ if .Params.thumb }}
                <div class="list-card-thumb">
                    {{ $thumb := .Resources.GetMatch .Params.thumb }}
                    {{ if $thumb }}
                    <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" loading="lazy">
                    {{ else }}
                    <img src="{{ .Params.thumb | relURL }}" alt="{{ .Title }}" loading="lazy">
                    {{ end }}
                </div>
                {{ end }}
                <div class="list-card-content">
                    {{ if .Params.series }}
                    <div class="list-card-series">
                        {{ $seriesPage := .Site.GetPage (printf "series/%s" .Params.series) }}
                        <a href="{{ $seriesPage.Permalink }}">{{ .Params.series }}</a>
                    </div>
                    {{ end }}
                    <div class="list-card-title">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                    <div class="list-card-stats">
                        <span>{{ .WordCount }}字</span>
                        <span>发布于 {{ .Date.Format "2006-01-02" }}</span>
                    </div>
                    {{ with .Params.tags }}
                    <div class="list-card-tags">
                        {{ range . }}
                        <a href="{{ "tags/" | relURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ partial "pagination.html" . }}
    </main>
</div>
{{ end }}